<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>
		<meta name="description" content="{{content}}">
		<meta name="author" content="Mark Tyers, Eliska Ryklova">
        {{#each style}}
            <link href="/{{this}}.css" type="text/css" rel="stylesheet" />
        {{/each}}
		<script type="module" src="/main.js"></script>
	</head>
	<body>
            