<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
        {{#each style}}
            <link href="/{{this}}.css" type="text/css" rel="stylesheet" />
        {{/each}}
		<script type="module" src="/main.js"></script>
	</head>
	<body>
            