
        <header>            
            <nav>
                <ul>
                    <li>
                        <a href="">Coventry <br /> Community</a>
                    </li>
                    
                    <li>
                        <figure>
                            <img src="/uploads/menu.svg" alt="Menu Icon" />
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="/uploads/close.svg" alt="Close Icon" />
                        </figure>
                    </li>
                    
                    <li><a href="/logout"><img src="/uploads/logout.svg" alt="Log Out Icon" />Log Out</a></li>
                    <li><a href="/myissues">My Issues</a></li>
                    <li><a href="/">Home</a></li>
                    
                 </ul>
            </nav>
        </header>