
        <header>            
            <nav>
                        <p><a href="/">Coventry <br /> Community</a></p>
                   
                        <figure>
                            <img src="/uploads/menu.svg" alt="Menu Icon" />
                        </figure>
                   
                   
                        <figure>
                            <img src="/uploads/close.svg" alt="Close Icon" />
                        </figure>    
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/myissues">My Issues</a></li>
                    <li><a href="/logout">Log Out<img src="/uploads/logout.svg" alt="Log Out Icon" /></a></li>
                 </ul>
            </nav>
        </header>