<main>
    <article>
            <section>
                <h1>Together <br />We Can Make <br />Coventry a&nbsp;Better Place</h1>
                <p>
                    Our community hub allows local residents to raise issues and proactively help to solve them.
                </p>
                <a href="/addissue"><img src="/uploads/add-circle.svg" alt="Add Icon" />Add Issue</a>
            </section>
            
            <figure>
                <img src="/uploads/tree-circle.svg" alt="Taking a photo of an issue" />
            </figure>
    </article>
    
    <h2>New Issues</h2>
    <article>
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                
    </article>
           
                 
</main>