
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
            <nav>
                <ul>
                    <li>Coventry <br />
                        Community</li>
                    <li><a href="">Log Out</a></li>
                    <li><a href="">My Issues</a></li>
                    </ul>
            </nav>
        </header>
        
        <main>
            <section>
                <h1>
                    Together <br />
                    We Can Make <br />
                    Coventry a Better Place
                </h1>
                <p>
                    Our community hub allows local residents to raise issues and proactively help to solve them.
                </p>
                <button href="">Add Issue</button>
            </section>
            
            <figure>
                <img src="/uploads/tree-circle.svg" alt="Taking a photo of an issue" />
            </figure>
            
            
             <h2>Current Issues</h2>
           
             <section>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                 
                 <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                 
                 <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                 
                 <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                 
                 <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
            </section>
          
        </main>
        
        <footer>
            <p>Coventry Community</p>
        </footer>
        
	</body>
</html>
