<main>
    <article>
            <section>
                <h1>Together <br />We Can Make <br />Coventry a&nbsp;Better Place</h1>
                <p>
                    Our community hub allows local residents to raise issues and proactively help to solve them.
                </p>
                <a href="/addissue"><img src="/uploads/add-circle.svg" alt="Add Icon" />Add Issue</a>
            </section>
            
            <figure>
                <img src="/uploads/tree-circle.svg" alt="Taking a photo of an issue" />
            </figure>
    </article>
    
    <article>
            <h2>Current Issues</h2>
            <section>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description which is a little bit longer Location Description which is a little bit longer</li>
                    <li>01/01/2021</li>
                 </ul>
                 
                 <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
                 
                 <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
                 
                 <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
                 
                 <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
                 
                 <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
    </article>
            
            
   
            
<!--
             <h2>Current Issues</h2>
             <section>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>6/11/2021</figcaption>
                    </figure>
                </article>
                 
                 <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                 
                 <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                
                <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                 
                 <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
                 
                 <article>
                    <h3>Issue Title</h3>
                    <figure>
                        <img src="/uploads/location.svg" alt="Location Icon" />
                        <figcaption>location</figcaption>
                    </figure>
                    <figure>
                        <img src="/uploads/calendar.svg" alt="Calendar Icon" />
                        <figcaption>date</figcaption>
                    </figure>
                </article>
        </section>
           -->     
            
                 
</main>