<main>
        <section>
        <h1>Issue Title</h1>
        <p>username – 02/03/2020</p>
        <ul>
            <li><strong>Location</strong></li>
            <li> loc To demonstrate  this feature and to prove that the form works coform and technology you are using.</li>
            <li><strong>Description</strong> </li>
            <li>loc To demonstrate loc To demonstrate  this feature and to prove that the form works correctly you will need to show that the data is being persisted correctly, either by running a databaseloc To demonstrate  this feature and to prove that the form works correctly you will need to show that the data is being persisted correctly, either by running a databasethis feature and to prove that the form works correctly you will need to show that the data is being persisted correctly, </li>
        </ul>
        <p>new</p> 
        <a href="/flag-as-fixed">Flag as fixed</a>
        </section>
        
        <figure>
            <img src="/uploads/placeholder.png" alt="Photo of the Issue"/>
        </figure>       
</main>