
		<main>
         
        <p>Coventry <br />
            Community</p>   
        <h1>Log In</h1>
            
		<form action="/login" method="post">
            
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="username" value="{{body.user}}" autofocus>
			</p>
            
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="password" value="{{body.pass}}">
			</p>
            
			<p>
                <input type="submit" value="Log in">
                <a href="/register">Register</a>
            </p>
		</form>
        
            
		</main>
	</body>
</html>