<main>
    <article>
            <section>
                 <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
                
                <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
                
                <ul>
                    <li>Issue Title</li>
                    <li>Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
                <ul>
                    <li>Issue Title</li>
                    <li>Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
                <ul>
                    <li>Issue Title</li>
                    <li>Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
                
               
                
                <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
                 
                 <ul>
                    <li>Issue Title</li>
                    <li>Loction Description</li>
                    <li>01/01/2021</li>
                 </ul>
                 
                
            </section>
    </article>
             
                 
</main>