<main>
    <article> 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
                 
            <section>
                <figure>
                    <img src="/uploads/placeholder.png" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>Issue Title</li>
                    <li> Location Description Location Description Location Description</li>
                    <li>01/01/2021</li>
                 </ul>
            </section>
    </article>
             
                 
</main>