
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<main>
            <p>Coventry <br />
            Community</p>   
        <h1>Register</h1>
		<form action="/register" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="username" value="{{body.user}}">
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="password">
			</p>
			<p>
				<label for="pass2">Password (again)</label><br />
				<input type="password" name="password2">
			</p>
			<p>
                <input type="submit" value="Create">
                <a href="/login">Log In</a>
            </p>
		</form>
		</main>
	</body>
</html>
