
/* code based on https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties*/
:root {
    /* design 1
    --primary: #ffe706;
    --primary-variant: #ffc408;
    --secondary: #08c6db;
    --secondary-variant: #07b3c6;
    --background: #fff8f8;
    --typeface: #302020;
    */
    
    /* design 2 */
    --primary: #00bea0;
    --primary-variant: #028471;
    --secondary: #ffa000;
    --secondary-variant: #dd8e06;
    --background: #eff5fc;
    --background-darker-variant: #d3e2f5;
    --background-lighter-variant: #fafcff;
    --typeface: #211f1f;
}
/*end of code based on https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties*/