
/* code based on https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties*/
:root {
    --primary: #00bea0;
    --primary-variant: #028471;
    --secondary: #ffa000;
    --secondary-variant: #dd8e06;
    --background: #eff5fc;
    --background-darker-variant: #d3e2f5;
    --background-lighter-variant: #f9fcff;
    --typeface: #211f1f;
}
/*end of code based on https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties*/