main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3vw !important;
}
main figure {
    width: 50%;
}

section {
    width: 100%;
}

figure~section {
    width: 50%;
}

p:first-of-type {
    font-size: 1vw !important;
}

p:last-of-type {
    font-size: 1.2vw !important;
}