
h1 {
    font-size: 3vw;/*45px;*/
}

h2 {
    font-size: 2vw;/*30px;*/
}

main {
    width: 75%;
}

/*********** HOME PAGE ***********/

main article:first-child section {
    float: left;
    max-width: 50%;
}
main article:last-child section {
    clear: both;
    max-width: 100%;
}
h1~p {
    font-size: 20px;
}

img[src*="tree"] {
    width: 40%;
    float: right;
    margin-bottom: -90px;
    display: block;
    min-height: 450px;
    max-height: 500px;
}





