
h1 {
    font-size: 4vw;/*45px;*/
}

h2 {
    font-size: 3vw;/*30px;*/
}

nav {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

nav li:nth-child(2), nav li:nth-child(3) {
    display: none !important;
}

nav li:nth-child(3) ~ li{
    display: block !important;
}

nav ul {
    margin: auto;
    width: 80%;
    /*
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;*/
        
}

nav ul li:first-child {
    font-family: Crete, Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 10px;
    color: var(--primary);
    float: left;
}


nav ul li:not(li:first-child) {
    clear: none;
    padding: 30px;
    font-size: 20px;
    float: right;
}


nav li a {
    text-decoration: None;
    padding-bottom: 5px;
}

nav li a img{
    padding-right: 10px;
    float: left;
    display: inline-block;
}



nav li:not(nav li:first-child) a:hover img{
    opacity: 0.6;
}


main {
    width: 80%;
}

/*********** HOME PAGE ***********/

main section {
    margin-bottom: 30px;
}

h1~p {
    font-size: 2.5vw;
}

main section article:hover{
    transform: translate(0, -3%);
}

main section article{
    transition: transform 0.3s;
}




