
h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

nav {
    margin: auto;
    overflow: hidden;
    text-align: right;
}


nav figure {
    display: none !important;
}

nav p {
    display: inline-block;
    text-align: left;
}

nav ul{
    display: inline-block !important;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

main {
    width: 80%;
}

/*********** HOME PAGE ***********/

main article {
    margin-bottom: 30px;
}

h1~p {
    font-size: 2.5vw;
}

main article:last-child section:hover{
    transform: translate(0, -3%);
}

main article:last-child section{
    transition: transform 0.3s;
}





