/* general settings */
@font-face {
    font-family: Crete;
    src: url("./uploads/CreteRound-Regular.ttf");
}

body {
    background-color: var(--background);
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--typeface);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h1, h2, h3 {
    font-family: Crete, Arial, Helvetica, sans-serif;
    margin: 0;
}

figure {
    margin: 0;
}

main {
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

footer {
    width: 100%;
    text-align: center;
    background: var(--typeface);
    color: var(--background);
    height: 40px;
}

footer p {
    padding: 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--typeface);
}
/* buttons */
a[href*="add"], input[type="submit"], a[href*="fix"] {
    background-color: var(--secondary);
    box-shadow: 2px 5px 10px grey;
    border: 2px solid var(--typeface);
    color: var(--typeface);
    font-family: Crete, Arial, Helvetica, sans-serif;
    border-radius: 7px;  
}

input[type="submit"]:hover, a[href*="add"]:hover{
    background-color: var(--secondary-variant);
    cursor: pointer;
}

/* mobile navigation bar */
nav {
    width: 100%;
    background-color: var(--background-lighter-variant);
    margin: 0;
    overflow: hidden;
    box-shadow: 0px 3px 20px -5px lightgrey;
}

nav ul {
    padding: 0;
    margin: auto;
    width: 80%;
    list-style-type: none;
    padding-bottom: 20px;
    /*
    display: flex;
    flex-direction: column-reverse;*/
}

nav li a {
    color: var(--typeface);
}

nav ul li:first-child {
    font-family: Crete, Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    order: 1;
}

nav ul li:not(li:first-child) {
    font-size: 20px;
    padding-top: 20px;
    margin: auto;
}

nav li a img{
    display: none;
}

nav figure img{
    width: 35px;
    float: right;
}

nav img:hover{
    opacity: 0.6;
    cursor: pointer;
}

nav li:not(nav li:first-child) a:hover{
    color: var(--primary);
    
}

nav li:nth-child(3) ~ li{
    display: none;
}

/* Menu Icon */
nav li:nth-child(2), nav li:nth-child(3){
    float: right;
}
/* Close Icon */
nav li:nth-child(3) {
    display: none;
}

nav li:nth-child(4), nav li:nth-child(5), nav li:nth-child(6) {
    clear: both;
    text-align: center;
}


/*********** HOME PAGE ***********/

main h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

main h2{
    margin-bottom: 20px;
}
main > article {
    text-align: center;
}

h1~p {
    font-size: 20px;
    margin-bottom: 30px;
}

img[src*="tree"] {
    display: none;
}


a[href*="add"]{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
}


a[href*="add"] img {
    padding-right: 10px;
    width: 30px;
}

/* cards */
main h2 {
    clear: both;
    text-align: center;
    margin-top: 30px;
}

article section figure { 
    width: 100%;  
    height: 60%;
}

article section figure img {
    width: 100%;  
    height: 100%;
    object-fit: cover;
}

main article:last-child {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main article:last-child section{
    background-color: var(--background-lighter-variant);
    width: 30vw;
    min-width: 200px;
    height: 400px;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer; 
    overflow: hidden;
   /* overflow-wrap: break-word;*/
}

main article:last-child ul { 
    margin: 25px;
    padding: 0;
}

main ul li {
    text-align: left;
    margin-bottom: 15px;
    overflow-wrap: break-word; /* to avoid overlaps if one long word entered by a user */
}

main figure~ul li {
    /* code based on https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 3 dots to avoid overlaps if text does not fit element */
    /* end of code based on https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow */
    
}
main ul li:first-child {
    list-style-type: none;
    font-family: Crete;
    font-size: 20px;
}

main ul li:nth-of-type(2) {
    list-style-image: url(uploads/location.svg);
    list-style-position: inside;
}

main ul li:nth-of-type(3) {
    list-style-image: url(uploads/calendar.svg);
    list-style-position: inside;
}

/*********** MY ISSUES PAGE ***************/
main figure {
    position: relative;
}
main figcaption {
    font-size: 15px;
    color: var(--background-lighter-variant);
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--primary);
    border-radius: 15px;
}

/********** LOGIN, REGISTER PAGE **********/
main > p {
    text-align: center;
    font-size: 25px;
    font-family: Crete, Arial, Helvetica, sans-serif;
    margin: 50px;
}

main > h1 {
    text-align: center;
}

form[action*="login"],  form[action*="register"] {
    text-align: center;
}

form p {
    font-size: 15px;
}

input, textarea {
    padding: 15px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--background-lighter-variant);
    margin: 10px;
    width: 250px;
    border: 1px solid var(--background-darker-variant);
    border-radius: 3px;
}

input:focus, textarea:focus {
    outline: 2px solid var(--primary);
}


input[type="submit"] {
    outline: none;  
    font-size: 20px;
    width: 180px;
    margin: 0;
}



form p:last-child {
    width: 280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

form p:last-child a {
    padding-top: 20px;
    color: var(--typeface);
    font-size: 17px;
    text-decoration: underline;
}

form p:last-child a:hover {
    text-decoration: none;
}
/********** ADD ISSUE **********/
form[action*="add"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form[action*="add"] input, textarea{
    font-weight: normal;
    width: 100%;
    margin-left: 0;
}

textarea {
    font-family: Roboto;
}

form[action*="add"] p:last-child{
    margin: 0;
    width: 150px;
}

